@model IEnumerable<Pericles.Models.Consulta>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de consultas</h1>

<p>
    <a asp-action="Create">Alta consulta</a>
</p>

<form method="get" asp-action="Index">
    <p style="flex-direction:row">
        Buscar mascota por nombre: <input type="search" class="form-control mr-sm-2" style="width:250px;margin-bottom:15px" placeholder="Nombre de mascota" value="@ViewData["obtenerMascotas"]" name="searchString">
        <input class="btn btn-primary" type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veterinario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veterinario.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
