@model IEnumerable<Pericles.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de mascotas</h1>

<p>
    <a asp-action="Create">Alta mascota</a>
</p>

<form asp-controller="Mascotas" asp-action="Index">
    <p>
        Buscar mascota por nombre:: <input type="text" name="SearchString" class="form-control mr-sm-2" placeholder="Nombre de mascota" style="width:250px;margin-bottom:15px">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duenio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duenio.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
